header {
    display: flex;
  justify-content: space-between;
  align-items: center;
height: 100px;
border-bottom: 2px solid #FF9FFF;
background-color: #151621;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='100' height='100' patternUnits='userSpaceOnUse' patternTransform='scale(0.04)'%3E%3Cpath id='a' data-color='fill' fill='%23020519' stroke='%23020519' stroke-width='2' d='M50 100L0 50V0l50 50 50-50h0v50l-50 50z'%3E%3C/path%3E%3Cuse xlink:href='%23a' y='-100'%3E%3C/use%3E%3Cuse xlink:href='%23a' y='100'%3E%3C/use%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
margin-bottom: 13px;




}
img {
    
    display: inline;
    width: 50px;
    height: 50px;
    margin-left: 35px;
    float: left;
    filter: hue-rotate(240deg);
}

.titulo {
    
    display:inline;
    justify-content: center;
    margin: 0px 25px 0px 25px;
    color: #FF9AFF;
    font-family: 'Rampart One', cursive;;
    font-size: 3.5rem;
}

nav {
    
    display: inline;
    float: right;
    margin-right: 15px;
    

}

.nav-link {
    display: inline;
    margin: 0px 15px 0px 7.5px;
    float: right;
    


}

.nav_btn {
    background-color: #151621;
    font-family: 'Ubuntu';
    color: white;
    font-size: 1.1rem;
    border: 0;
    cursor: pointer;
}

.nav_btn:hover {
    transform: scale(1.2);
    font-weight: bold;
    color: #FF9FFF;
}


.logoMobile {
    display: none;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 20%; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: #FF9AFF(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

 
.modal-content {
    background-color: #f8d8f8;
    margin: auto;
    padding: 20px;
    border: 2px solid #621d75;
    width: 80%;
    height: 350px;
    font-family: 'Ubuntu';
    border-radius: 1%;
  }
  
  
  .close {
    color: #621d75;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .titulo_info {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    margin: 7px;
    text-align: center;
    color: #621d75;

  }

  .parrafo_info {
    font-size: 1.2rem;
    color: #621d75;
    margin: 8px;
    padding: 8px;
    text-align: center;
  }
.logo_modal {
    display: flex;
    justify-content: center;
}
  .logo_pezcornio {
    height: 150px;
    width: 150px;
    
  }



@media only screen and (max-width: 380px) {

    

    header {
        justify-content: center;
        flex-wrap: wrap;
        overflow-x: visible;
    }

    nav {
        display: flex;
        flex-direction: row;
        
    }

    .logo {
        scale: 0.7;
    }

    .logoMobile {
        display: inline;
        scale: 0.7;
        flex-wrap: nowrap;
    }

    .titulo {
        text-align: center;
        font-size: 1.4rem;
        margin: 0;
    }

    img {
        margin: 0;
    }

    .nav_ul {
        justify-content: center;
    }

    .modal {
        padding-top: 10%;
    }
    .modal-content {
        height: auto;
    }
}